<!DOCTYPE html>
<html>
<head>
  <title>TodoList</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <script type="text/x-template" data-template="task">
    <div class="task">
      <span class="task-description">${description}</span>
      <a href="" class="task-remove-link">X</a>
    </div>
  </script>
  <script type="text/x-template" data-template="new-task-form">
    <form class="new-task-form" action="/tasks" method="post">
      <input type="text" name="task[description]" placeholder="new task" />
      <input type="submit" value="create" />
    </form>
  </script>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

</body>
</html>
